<h4><%= @student.name %></h4>

<p>
  <strong>Date of Birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>