<div>
  <div class="card yellow lighten-5">
    <div class="card-content">
      <span class="card-title">Your Qualified Students</span>
      <% if @eligilble_students.empty? %>
  		<p>You have no students to be registered at this time</p>
  	  <% else %>
        <ul>
          <% @eligilble_students.each do |s| %>
            <li>
              <%= link_to "+", new_registration_path(student_id: s.id, camp_id: @camp.id) %>
              <%= s.proper_name %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
