<div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Registered Students</span>
      <% if @students.empty? %>
  		  <p>No registered students at this time</p>
  	  <% else %>
    	  <table class="striped highlight">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |s| %>
              <tr>
                <td><%= s.proper_name %></td>
                <td><%= s.age %></td>
                <td><%= s.rating %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </ul>
      <% end %>
    </div>
  </div>
</div>
