<div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Students in this Family</span>
      <% if @students.empty? %>
  		<p>No students at this time</p>
  	  <% else %>
        <ul>
           <% @students.each do |s| %>
            <li>
              <%= link_to s.proper_name, student_path(s) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% if can? :new, Student %>
      <div class="card-action">
        <%= link_to "Add a new student", new_student_path(family_id: @family.id) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
