<div>
  <div class="card yellow lighten-5">
    <div class="card-content">
      
      <span class="card-title">
        <% if current_user.role?(:parent) %>
          My Children
        <% else %>
          Students in this Family
        <% end %>
      </span>
      <% if @students.empty? %>
  		<p>No students at this time</p>
  	  <% else %>
        <ul>
           <% @students.each do |s| %>
            <li>
              <%= link_to s.proper_name, student_path(s) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% if can? :new, Student %>
      <% if current_user.role?(:parent) %>
          <div class="card-action">
            <%= link_to "Add a new child", new_student_path(family_id: @family.id) %>
          </div>
      <% else %>
          <div class="card-action">
            <%= link_to "Add a new student", new_student_path(family_id: @family.id) %>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
