<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Curriculums', curriculums_path %></li>
      <li><%= link_to 'Camps', camps_path %></li>
      <li><%= link_to 'Instructors', instructors_path %></li>
      <li><%= link_to 'Locations', locations_path %></li>
    </ul>
  </div>
</nav>
