<div class="row valign-wrapper" id="topbar">
  <div class="col s2">
    <%= link_to(image_tag('chess_logo_1_smaller.jpg'), home_path) %>
  </div>
  <div class="col s9">
    <h2>Chess Ability Reinforcement Services</h2>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>
