<div class="row">  
  <h4>Welcome to Chess Ability Reinforcement Services!</h4>  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <p>"Chess is a game which reflects most honor on human wit."
          -- Francois Voltaire </br>
          The Chess Ability Reinforcement Services is a system where a
          group of experienced chess instructors is dedicated to 
          providing your children with the finest chess
          camps in the Pittsburgh area. The links below will 
          tell you more about our camps.
        </p>
      </div>
    </div>
  </div>
</div>
