<ul>
  <li>Items Count: <%= session[:cart].length %></li>
  <li>Total Cost: <%= calculate_total_cart_registration_cost %></li>
</ul>

<h2>Payment Method</h2>

<%= render 'form', registration: @registration %>
<%= link_to(eval("carts_path"), class: "btn waves-effect waves-light") do %>
  Back
<% end %>